TEST_ADMIN="testadmin"
TEST_PASSWORD="testadmin"
TEST_URL="http://127.0.0.1:5984"
TEST_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n-----END RSA PRIVATE KEY-----\n"
TEST_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n-----END PUBLIC KEY-----\n"
